# See http://help.github.com/ignore-files/ for more about ignoring files.

# Python:
*__pycache__*
backend/venv

# compiled output
frontend/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
frontend/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
backend/.vscode/*
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
.gcloudignore
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Terraform
terraform.tfvars
.terraform*
terraform.tfstate
terraform.tfstate.backup
co-op-4-all.zip