<h1>{{ title }}</h1>
<mat-divider></mat-divider>
<form [formGroup]="retailerForm" (ngSubmit)="save()">
    <div class="retailer-form-item">
        <div><label>Retailer Name</label></div>
        <mat-form-field appearance="legacy">
            <mat-label>Retailer Name</mat-label>
            <input matInput formControlName="name">
            <mat-icon matSuffix>store</mat-icon>
            <mat-hint *ngIf="isNew && !isInvalidInput('name')">
                This name will be used to create the Big Query Dataset
            </mat-hint>
            <mat-hint *ngIf="isInvalidInput('name')">
                Please enter a valid Retailer Name
            </mat-hint>
        </mat-form-field>
    </div>
    <div class="retailer-form-item">
        <div><label>BQ GA Table</label></div>
        <mat-form-field appearance="legacy">
            <mat-label>BQ GA Table</mat-label>
            <input matInput formControlName="bq_ga_table">
            <mat-icon matSuffix>table_chart</mat-icon>
            <mat-hint *ngIf="isInvalidInput('bq_ga_table')">
                Please enter a valid BigQuery Google Analytics table
            </mat-hint>
        </mat-form-field>
    </div>
    <div class="retailer-form-item">
        <div><label>Timezone</label></div>
        <mat-form-field appearance="legacy">
            <mat-label>Timezone</mat-label>
            <input matInput formControlName="time_zone">
            <mat-icon matSuffix>schedule</mat-icon>
            <mat-hint *ngIf="isInvalidInput('time_zone')">
                Please enter a valid <a target="_blank"
                    href="https://developers.google.com/adwords/api/docs/appendix/codes-formats#expandable-22">Timezone</a>
            </mat-hint>
        </mat-form-field>
    </div>
    <div class="retailer-form-item">
        <div><label>Max Backfill</label></div>
        <mat-form-field appearance="legacy">
            <mat-label>Max Backfill</mat-label>
            <input matInput formControlName="max_backfill">
            <mat-icon matSuffix>arrow_upward</mat-icon>
            <mat-hint *ngIf="isInvalidInput('max_backfill')">
                Please enter a valid Max Backfill value (30-180 days)
            </mat-hint>
        </mat-form-field>
    </div>
    <div class="retailer-form-item">
        <mat-slide-toggle color="accent" formControlName="is_active">
            Active
        </mat-slide-toggle>
    </div>
    <div class="retailer-form-buttons-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="!retailerForm.valid">Save</button>
        <button mat-raised-button color="primary" routerLink="/retailers">Cancel</button>
    </div>
</form>