<h1>{{ title }}</h1>
<mat-divider></mat-divider>
<div class="retailer-form-container">
    <div class="retailer-form-item">
        <div><label>Retailer Name</label></div>
        <mat-form-field appearance="legacy">
            <mat-label>Retailer Name</mat-label>
            <input matInput placeholder="">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </div>
    <div class="retailer-form-item">
        <div><label>BQ GA Table</label></div>
        <mat-form-field appearance="legacy">
            <mat-label>BQ GA Table</mat-label>
            <input matInput placeholder="">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </div>
    <div class="retailer-form-item">
        <div><label>BQ Dataset</label></div>
        <mat-form-field appearance="legacy">
            <mat-label>BQ Dataset</mat-label>
            <input matInput placeholder="">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </div>
    <div class="retailer-form-item">
        <div><label>Timezone</label></div>
        <mat-form-field appearance="legacy">
            <mat-label>Timezone</mat-label>
            <input matInput placeholder="">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </div>
    <div class="retailer-form-item">
        <div><label>Max Backfill</label></div>
        <mat-form-field appearance="legacy">
            <mat-label>Max Backfill</mat-label>
            <input matInput placeholder="">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </div>
    <div class="retailer-form-item">
        <div><label>Active</label></div>
        <input class="no-mat-form-field" type="checkbox" checked>
    </div>
    <div class="retailer-form-buttons-container">
        <button mat-raised-button color="primary" routerLink="/retailers">Cancel</button>
        <button mat-raised-button color="primary">Save</button>
    </div>
</div>