html,
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.demo-headline {
    margin-bottom: 32px;
}

.mdc-text-field {
    margin-bottom: 24px;
    flex-shrink: 0;
}

.greet-message {
    margin-top: 48px;
}

.mdl-grid--center {
    justify-content: center;
}

.mdl-cell--center {
    text-align: center;
    margin: 8px auto !important;
}

#view-source {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}