{% extends "base.html" %} {% block content %}

<div class="mdl-grid mdl-grid--center">
    <!-- Textfield with Floating Label -->
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell--8-col">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Campaign Name</th>
                <th>Retailer Name</th>
                <th>Timestamp</th>
                <th>Step</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for campaign in campaigns %}
            <tr>
                <td> {{ campaign['campaign_name'] }} </td>
                <td> {{ campaign['retailer_name'] }} </td>
                <td> {{ campaign['timestamp'] }} </td>
                <td> {{ campaign['step'] }} </td>
                <td> {{ campaign['status'] }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}