
html, body { height: 100%; }

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.small-box, .large-box {
    display: flex;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
}

.small-box {
    height: 100px;
    width: 100px;
  }

.large-box {
    height: 550px;
    width: 1200px;
    margin: 25px auto;
}

.card {
    max-width: 1200px;
    margin-top: 20px;
}